:root{
	--mainColor: #eaeaea;
	--mainShadow: 20px 20px 60px #c7c7c7, 
             -20px -20px 60px #ffffff;
    --mainRadius: 5px 5px 0 0;


	--secondaryColor: #fff;
	--secondaryShadow:  14px 14px 12px #f7f7f7, 
             -14px -14px 12px #ffffff;
	--secondaryRadius: 5px;;

	--borderColor: #c1c1c1;

	--mainText: #8C897E;
	--secondaryText: #4b5156;

	--themeDotBorder: white;

	--previewBg: rgb(251, 249, 243, 0.8);
	--previewShadow: #f0ead6;

	--inputField: inset 8px 8px 38px #ededed, 
            inset -8px -8px 38px #ffffff;

	--buttonColor: black;

}

body *{
	transition: 0.3s;
}

html, body{
	padding: 0;
	margin: 0;
}

h1{
	color: var(--mainText);
	font-weight: 500;
	font-family: 'Just Me Again Down Here', cursive;

}

h2, h3, h4, h5, h6, strong{
	font-family: 'Noto Sans HK', sans-serif;
	color: var(--mainText);
}

label{
font-family: 'Noto Sans HK', sans-serif;
}
textarea{
	font-family: 'Noto Sans HK', sans-serif;
}

p{
	font-family: 'Noto Sans HK', sans-serif;
}

li{
	font-family: 'Noto Sans HK', sans-serif;
}
a{
	text-decoration: none;
	color: brown;
	font-family: 'Noto Sans HK', sans-serif;
}

ul{
	list-style: none;
}

h1{
	font-size: 56px;
}

h2{
	font-size: 36px;
}
h3{
	font-size: 28px;
}
h4{
	font-size: 24px;
}
h5{
	font-size: 20px;
}
h6{
	font-size: 16px;
}


.s1{
	background-color: var(--mainColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.s2{
	background-color: var(--secondaryColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.main-container{
	width: 1200px;
	margin: 0 auto;
}

.greeting-wrapper{
	display: grid;
	text-align: center;
	align-content: center;
	min-height: 10em;
}

.intro-wrapper{
	background-color: var(--mainColor);
	box-shadow: var(--mainShadow);
	border-radius: var(--mainRadius);
	border: 1px var(--borderColor);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'nav-wrapper nav-wrapper'
    'left-column right-column';
}


.nav-wrapper{
	border-radius: 5px 5px 0 0;
	grid-area: nav-wrapper;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
}

#navigation{
	margin:0;
	padding: 10px;
}

#navigation a{
	color: white;
}

#navigation li{
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

.dots-wrapper{
	display: flex;
	padding: 10px;
}

#dot-1{
	background-color: #FC6058;
}

#dot-2{
	background-color: #FEC02F;
}

#dot-3{
	background-color: #2ACA3E;
}

.browser-dot{
	border-radius: 50%;
	background: #FC6058;
	height: 15px;
	width: 15px;
	margin: 5px;
}

.left-column{
	grid-area: left-column;
	padding-top: 50px;
	padding-bottom: 50px;
}

#profile-pic{
	display: block;
	margin: 0 auto;
	height: 250px;
	width: 240px;
	object-fit: cover;
	border: 2px solid var(--borderColor);
}

#theme-options-wrapper{
	display: flex;
	justify-content: center;
}

.theme-dot{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
	border: 2px solid var(--themeDotBorder);
	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	cursor: pointer;
}

.theme-dot:hover{
	border-width: 5px;
}

#pink-mode{
	background-color: #e7a6c5;
}

#green-mode{
	background-color: #a6e7ba;
}

#orange-mode{
	background-color:#ecb679;
}

#light-mode{
	background-color: #fff;
}


.right-column{
	grid-area: right-column;
	display: grid;
	align-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
}


#preview-shadow{
	background-color: var(--previewShadow);
	border-radius: 50% 20% / 10% 40%;
	width: 300px;
	height: 180px;
	padding-left: 30px;
	padding-top: 30px;
}

#preview{
	width: 300px;
	background-color: var(--previewBg);
	border-radius: 50% 20% / 10% 40%;
	padding: 15px 25px;
	position: relative;
}


.about-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-bottom: 50px;
	padding-top: 50px;
	gap:100px;

}

#skills{
	display: flex;
	justify-content: flex-start;
	background-color: var(--previewShadow);
}

.social-links{
	display: grid;
	align-content: center;
	text-align: center;
}

#social_img{
	width: 100%;
}

.post-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap: 20px;
	justify-content: center;
	padding-bottom: 50px;
}

.post{
	border: 1px solid var(--borderColor);
}

.thumbnail{
	display: block;
	width: 100%;
	height: 180px;
	object-fit: cover;
}

.post-preview{
	background-color: #fff;
	padding: 15px;
}

.post-title{
	margin:0;
	color: black;
}

.post-intro{
	color: #4b5156;
}

#contact-form{
	background-color: var(--secondaryColor);
	box-shadow: var(--secondaryShadow);
	border-radius: var(--secondaryRadius);
	display: block;
	max-width: 600px;
	margin: 0 auto;
	padding: 15px;
	background-color: var(--secondaryColor);
	margin-bottom: 50px;
}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	background: var(--secondaryColor);
	box-shadow: var(--inputField);
}

.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border: none;
	font-size: 14px;
	box-shadow: var(--inputField);
}

#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	color: #fff;
	background-color: var(--buttonColor);
	border: none;
}


@media (max-width: 1200px){
	.main-container{
	width: 95%;
}

@media (max-width: 800px){
	.intro-wrapper{
	    grid-template-columns: 1fr;
	    grid-template-areas: 
	    'nav-wrapper'
	    'left-column'
	    'right-column';
}

.right-column{
	justify-content: center;
}

}